<mat-card>
  <mat-card-title><h5>Mapping Modules</h5></mat-card-title>
  <div class="right-flex">
    <button mat-flat-button color="primary" [routerLink]="['/mapping-add']">Add</button>
    <button mat-stroked-button color="primary" (click)="resetAll()">Reset all</button>
  </div>
</mat-card>
<mat-accordion *ngFor="let module of mappingModules">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="small-text">{{module.name}}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-subtitle>Body</mat-card-subtitle>
      <mat-card-content>{{module.body}}</mat-card-content>
      <div class="example-button-row">
        <button mat-stroked-button color="primary" [routerLink]="['/mapping-add', module]" >Edit</button>
      </div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
