<!--<mat-card>-->
  <!--<mat-card-title><h4>Add Mapping Module</h4></mat-card-title>-->
    <!--<mat-card>-->
      <!--<mat-card-title>Write in browser</mat-card-title>-->
        <!--<form #mappingForm="ngForm" (ngSubmit)="uploadWrittenMappingModule(mappingForm.value)">-->
          <!--<div>-->
            <!--<p>-->
              <!--Write mapping configuration in the text field below and click the submit button to generate a mapping module-->
              <!--in the repository with the passed name.-->
            <!--</p>-->
          <!--</div>-->
          <!--&lt;!&ndash;Content&ndash;&gt;-->
          <!--<div class="example-container">-->
            <!--<mat-form-field>-->
              <!--<input required matInput placeholder="File name" id="name" name="name" ngModel>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field>-->
              <!--<mat-label>Mapping rules</mat-label>-->
              <!--<textarea matInput placeholder="Write rules here" required name="body" #body></textarea>-->
              <!--&lt;!&ndash;<select required matNativeControl id="provider" name="provider" ngModel>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="aws">AWS Lambda</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="azure">Azure Functions</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="ibm">IBM Cloud Functions</option>&ndash;&gt;-->
              <!--&lt;!&ndash;</select>&ndash;&gt;-->
            <!--</mat-form-field>-->
          <!--</div>-->
          <!--&lt;!&ndash;Actions&ndash;&gt;-->
          <!--<mat-action-row>-->
            <!--<button [routerLink]="['/template-list']" mat-button type="submit" [disabled]="extractionForm.invalid">Submit</button>-->
          <!--</mat-action-row>-->
        <!--</form>-->
    <!--</mat-card>-->


    <!--&lt;!&ndash;<mat-accordion multi="false">&ndash;&gt;-->

      <!--&lt;!&ndash;<mat-expansion-panel>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;Header&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-expansion-panel-header>&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-panel-title>Write in browser</mat-panel-title>&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-panel-description>Extraction from platform</mat-panel-description>&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-expansion-panel-header>&ndash;&gt;-->
        <!--&lt;!&ndash;<form #mappingForm="ngForm" (ngSubmit)="uploadWrittenMappingModule(mappingForm.value)">&ndash;&gt;-->
          <!--&lt;!&ndash;<div>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
              <!--&lt;!&ndash;Write mapping configuration in the text field below and click the submit button to generate a mapping module&ndash;&gt;-->
              <!--&lt;!&ndash;in the repository with the passed name.&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;Content&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="example-container">&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
              <!--&lt;!&ndash;<input required matInput placeholder="provider_mapping.yaml" id="name" name="name" ngModel>&ndash;&gt;-->
            <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
              <!--&lt;!&ndash;<mat-label>Mapping rules</mat-label>&ndash;&gt;-->
              <!--&lt;!&ndash;<textarea matInput placeholder="Write rules here" [(ngModel)]="mappingModule.body" required name="body" #body></textarea>&ndash;&gt;-->
            <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;Actions&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<mat-action-row>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<button [routerLink]="['/template-list']" mat-button type="submit" [disabled]="extractionForm.invalid">Submit</button>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</mat-action-row>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-expansion-panel>&ndash;&gt;-->

      <!--&lt;!&ndash;<mat-expansion-panel>&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-expansion-panel-header>&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-panel-title>Template</mat-panel-title>&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-panel-description>Input of available template</mat-panel-description>&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-expansion-panel-header>&ndash;&gt;-->
        <!--&lt;!&ndash;<app-file-input></app-file-input>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-expansion-panel>&ndash;&gt;-->

    <!--&lt;!&ndash;</mat-accordion>&ndash;&gt;-->
<!--</mat-card>-->


<mat-card>
  <mat-card-title><h4>Extraction</h4></mat-card-title>
  <mat-card-content>
    <mat-card>
      <mat-card-title>Write in browser</mat-card-title>
      <form #mappingForm="ngForm" (ngSubmit)="uploadModule(mappingForm.value)">
        <div>
          <p>
            Extract relevant sources directly from the platform the application is deployed on. Please make sure that
            you have proper access rights and configured them accordingly in the corresponding CLI of the provider.
          </p>
        </div>
        <!--Content-->
        <div class="example-container">
          <mat-form-field>
            <input required matInput placeholder="File Name" id="name" name="name" ngModel>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Rules</mat-label>
            <textarea  matInput placeholder="Write rules here" required name="body" #body></textarea>
          </mat-form-field>
        </div>
        <!--Actions-->
        <mat-action-row>
          <button [routerLink]="['/template-list']" mat-button type="submit" [disabled]="mappingForm.invalid">Submit</button>
        </mat-action-row>
      </form>
    </mat-card>
    <mat-card>
      <mat-card-title>Upload existing file</mat-card-title>
      <form #templateForm="ngForm" (ngSubmit)="onUpload()">
        <div>
          <p>
            Extract relevant sources directly from the platform the application is deployed on. Please make sure that
            you have proper access rights and configured them accordingly in the corresponding CLI of the provider.
          </p>
        </div>
        <div>
          <input required ngModel name="fileInput" type="file" (change)="onFileSelected($event)">
        </div>
        <mat-action-row>
          <!--<button mat-button type="submit" [disabled]="templateInputForm.invalid">Submit</button>-->
          <button [routerLink]="['/mapping-list']" mat-button type="submit" [disabled]="templateForm.invalid" (click)="onUpload()">Submit</button>
        </mat-action-row>
      </form>
    </mat-card>
    <!--<mat-accordion multi="false">-->

      <!--<mat-expansion-panel>-->
        <!--&lt;!&ndash;Header&ndash;&gt;-->
        <!--<mat-expansion-panel-header>-->
          <!--<mat-panel-title>Crawling</mat-panel-title>-->
          <!--<mat-panel-description>Extraction from platform</mat-panel-description>-->
        <!--</mat-expansion-panel-header>-->
        <!--<form #extractionForm="ngForm" (ngSubmit)="extractFunction(extractionForm.value)">-->
          <!--<div>-->
            <!--<p>-->
              <!--Extract relevant sources directly from the platform the application is deployed on. Please make sure that-->
              <!--you have proper access rights and configured them accordingly in the corresponding CLI of the provider.-->
            <!--</p>-->
          <!--</div>-->
          <!--&lt;!&ndash;Content&ndash;&gt;-->
          <!--<div class="example-container">-->
            <!--<mat-form-field>-->
              <!--<input required matInput placeholder="Application Resource Name" id="arn" name="arn" ngModel>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field>-->
              <!--<mat-label>Provider</mat-label>-->
              <!--<select required matNativeControl id="provider" name="provider" ngModel>-->
                <!--<option value="aws">AWS Lambda</option>-->
                <!--<option value="azure">Azure Functions</option>-->
                <!--<option value="ibm">IBM Cloud Functions</option>-->
              <!--</select>-->
            <!--</mat-form-field>-->
          <!--</div>-->
          <!--&lt;!&ndash;Actions&ndash;&gt;-->
          <!--<mat-action-row>-->
            <!--<button [routerLink]="['/template-list']" mat-button type="submit" [disabled]="extractionForm.invalid">Submit</button>-->
          <!--</mat-action-row>-->
        <!--</form>-->
      <!--</mat-expansion-panel>-->

      <!--<mat-expansion-panel>-->
        <!--<mat-expansion-panel-header>-->
          <!--<mat-panel-title>Template</mat-panel-title>-->
          <!--<mat-panel-description>Input of available template</mat-panel-description>-->
        <!--</mat-expansion-panel-header>-->
        <!--<app-file-input></app-file-input>-->
      <!--</mat-expansion-panel>-->

    <!--</mat-accordion>-->
  </mat-card-content>
</mat-card>
