<mat-card class="mat-card-lavender">
  <mat-card-header>
    <mat-card-title>Add Mapping Module</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="mat-card dracula-code">
      <mat-card-title><h5>Write in browser</h5></mat-card-title>
      <form #mappingForm="ngForm" (ngSubmit)="onModuleFormSubmit(mappingForm.value)">
        <div>
          <p>
            Write the rules of the Mapping Module direct in this application and push it to the repository.
          </p>
        </div>
        <!--Content-->
        <div class="example-container">
          <mat-form-field>
            <input required matInput placeholder="File Name" id="name" name="name" ngModel>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Rules</mat-label>
            <textarea  matInput placeholder="Write rules here" required name="body" id="body" ngModel></textarea>
          </mat-form-field>
        </div>
        <!--Actions-->
        <mat-action-row>
          <button [routerLink]="['/mapping-list']" mat-button type="button" (click)="onModuleFormSubmit(mappingForm.value)" [disabled]="mappingForm.invalid">Submit</button>
        </mat-action-row>
      </form>
    </mat-card>
    <mat-card class="mat-card dracula-code">
      <mat-card-title><h5>Upload existing file</h5></mat-card-title>
      <form #templateForm="ngForm" (ngSubmit)="onUpload()">
        <div>
          <p>
            Upload an already existing Mapping Module to the repository.
          </p>
        </div>
        <div>
          <input required ngModel name="fileInput" type="file" (change)="onFileSelected($event)">
        </div>
        <mat-action-row>
          <!--<button mat-button type="submit" [disabled]="templateInputForm.invalid">Submit</button>-->
          <button mat-button type="submit" [disabled]="templateForm.invalid" (click)="onUpload()">Submit</button>
        </mat-action-row>
      </form>
    </mat-card>
  </mat-card-content>
</mat-card>
