<mat-card>
  <mat-card-title><h3>Generic Application Models</h3></mat-card-title>
  <!--<div class="right-flex">-->
    <!--<button mat-flat-button color="primary" [routerLink]="['/template-edit']">Add template</button>-->
  <!--</div>-->
</mat-card>
<mat-accordion *ngFor="let appModel of appModels">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="small-text">{{appModel.id}}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <div *ngFor="let event of eventSources">
        <mat-card-title>{{event.eventName}}</mat-card-title>
        <div *ngFor="let prop of event.eventProperties">
          <p>{{prop}}</p>
        </div>
      </div>
      <!--<div class="example-button-row">-->
        <!--<button mat-stroked-button color="primary" [routerLink]="['/template-edit', template]" >Edit</button>-->
      <!--</div>-->
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
