<mat-card class="mat-card-lavender">
  <mat-card-header>
    <mat-card-title>Add Deployment Model Template</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion multi="false">

        <mat-expansion-panel class="dracula-code">
          <!--Header-->
          <mat-expansion-panel-header>
            <mat-panel-title>Crawling</mat-panel-title>
            <mat-panel-description>Extraction from platform</mat-panel-description>
          </mat-expansion-panel-header>
          <form #extractionForm="ngForm" (ngSubmit)="extractFunction(extractionForm.value)">
            <div>
              <p>
                Extract relevant sources directly from the platform the application is deployed on. Please make sure that
                you have proper access rights and configured them accordingly in the corresponding CLI of the provider.
              </p>
            </div>
            <!--Content-->
            <div class="example-container">
              <mat-form-field>
                <input required matInput placeholder="Application Resource Name" id="arn" name="arn" ngModel>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Provider</mat-label>
                <select required matNativeControl id="provider" name="provider" ngModel>
                  <option value="aws">AWS Lambda</option>
                  <option value="azure">Azure Functions</option>
                  <option value="ibm">IBM Cloud Functions</option>
                </select>
              </mat-form-field>
            </div>
            <!--Actions-->
            <mat-action-row>
              <button mat-button type="submit" [disabled]="extractionForm.invalid">Submit</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

      <mat-expansion-panel class="dracula-code">
        <mat-expansion-panel-header>
          <mat-panel-title>Template</mat-panel-title>
          <mat-panel-description>Input of available template</mat-panel-description>
        </mat-expansion-panel-header>
        <app-file-input></app-file-input>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-card-content>
</mat-card>
