<mat-card>
  <mat-card-title><h3>Templates</h3></mat-card-title>
  <div class="right-flex">
    <button mat-flat-button color="primary" [routerLink]="['/template-edit']">Add template</button>
  </div>
</mat-card>
<mat-accordion *ngFor="let template of templates">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>{{template.name}}</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-subtitle>Body</mat-card-subtitle>
      <mat-card-content>{{template.body}}</mat-card-content>
      <div class="example-button-row">
        <button mat-stroked-button color="primary" [routerLink]="['/template-edit', template]" >Edit</button>
      </div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
